@font-face {
    font-family: 'ACES04';
    src: url('/fonts/ACES04.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  color: #fff;
  font-family: 'ACES04';
  font-size: 20px;
  line-height: 24px;
  overscroll-behavior: none;
  background-color: black;
}

.ui_element {
  position: absolute;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 2px;
  border-color: white;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}

.selection {
    padding: 5%;
}

.selection:hover {
    background-color: rgba(25, 65, 110, 0.432);
}

#groups {
  width: 20%;
  top: 15%;
  left: 5%;
}

#reset_view {
  visibility: hidden;
  top: 5%;
  left: 5%;
}

#reset_view:hover {
  background-color: rgba(25, 65, 110, 0.432);
}

.info_name {
  font-size: 30px;
}

.info_item_name {
  margin-bottom: 5%;
}

.info_item_name:last-child{
  margin-bottom: 0%;
}

.info_item_coords {
  margin-bottom: 5%;
}

#group_info {
  background-color: rgba(25, 65, 110, 0.432);
  padding: 1.5%;
  visibility: hidden;
  width: 20%;
  top: 15%;
  right: 5%;
}