@font-face {
  font-family: "ACES04";
  src: url("/fonts/ACES04.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  color: #fff;
  font-family: "ACES04";
  font-size: 20px;
  line-height: 24px;
  overscroll-behavior: none;
  background-color: black;
}

.ui_element {
  position: absolute;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 2px;
  border-color: white;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}

.selection {
  padding: 5%;
}

.selection:hover {
  background-color: rgba(25, 65, 110, 0.432);
}

#groups {
  width: 15%;
  top: 15%;
  left: 5%;
}

#reset_view {
  visibility: hidden;
  top: 5%;
  left: 5%;
}

#reset_view:hover {
  background-color: rgba(25, 65, 110, 0.432);
}

#group_info {
  background-color: rgba(25, 65, 110, 0.432);
  padding: 1.5%;
  visibility: hidden;
  width: 15%;
  top: 15%;
  right: 5%;
}

.info_name {
  font-size: 25px;
}

.info_item_name {
  margin-bottom: 5%;
}

.info_item_name:last-child {
  margin-bottom: 0%;
}

.info_item_coords {
  margin-bottom: 5%;
}

#map {
  bottom: 10%;
  left: 5%;
  width: 15vw;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map_img_mask {
  position: absolute;
  background-color: rgba(5, 45, 78, 0.596);
  width: 100%;
  height: 100%;
}

#map_img {
  height: 100%;
  width: 100%;
}

#map_zoom_zone {
  position: absolute;
  left: 0%;
  top: 0%;
  height: 50%;
  width: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

#map_x_axis {
  position: absolute;
  height: 100%;
  width: 0%;
  left: 0%;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

#map_y_axis {
  position: absolute;
  height: 0%;
  width: 100%;
  top: 0%;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}
